<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}None{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <style>
      nav a{
        color: white !important;
        font-size: medium !important;
      }
      nav a:hover{
        background-color: #f9723d !important;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top hidden-print"  style="background-image: linear-gradient(to bottom,#12a182 0,#12a182 100%);border-color: #f9723d;border-bottom-width: 2px;">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">主页</a>
          </div>
  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
              <li><a href="/poll/list/">投票列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_staff %}
              <li><a href="/basic/log/">日志查看</a></li>
              {% endif %}
              {% if request.user.is_superuser %}
              <li><a href="/basic/">管理后台</a></li>
              {% endif %}
              <li><a href="/change_password/">修改密码</a></li>
              <li><a href="/logout/">登出</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Error</strong>:{{ message }}
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Warning</strong>:{{ message }}
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Success</strong>:{{ message }}
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Info</strong>:{{ message }}
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% block content %}None{% endblock %}
      </div>
</body>
</html>