{% extends '../../base_logined.html' %}

{% block title%}用户查看{% endblock %}

{% block content %}
<h2>用户查看<button onclick="window.location.href='/basic/user/add/'" style="margin: 5px;" type="button" class="btn btn-info">新增</button></h2>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>邮箱</th>
            <th>是否激活</th>
            <th>可进入后台</th>
            <th>超级管理员</th>
            <th>上次登录</th>
            <th>注册时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in page_1 %}
        <tr>
            <th scope="row">{{ i.id }}</th>
            <td>{{ i.username }}</td>
            <td>{{ i.email }}</td>
            {% if i.is_active %}
            <td><span style="color: green;" class="glyphicon  glyphicon-ok" aria-hidden="true"></span></td>
            {% else %}
            <td><span style="color: red;" class="glyphicon  glyphicon-remove" aria-hidden="true"></span></td>
            {% endif %}
            {% if i.is_staff %}
            <td><span style="color: green;" class="glyphicon  glyphicon-ok" aria-hidden="true"></span></td>
            {% else %}
            <td><span style="color: red;" class="glyphicon  glyphicon-remove" aria-hidden="true"></span></td>
            {% endif %}
            {% if i.is_superuser %}
            <td><span style="color: green;" class="glyphicon  glyphicon-ok" aria-hidden="true"></span></td>
            {% else %}
            <td><span style="color: red;" class="glyphicon  glyphicon-remove" aria-hidden="true"></span></td>
            {% endif %}
            <td>{{ i.last_login }}</td>
            <td>{{ i.date_joined }}</td>
            <td>
                <button onclick="window.location.href='/basic/user/{{ i.id }}/edit/'" type="button" class="btn btn-warning">修改</button>
                <button onclick="window.location.href='/basic/user/{{ i.id }}/del_active/'" type="button" class="btn btn-danger">停用</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal{{ i.id }}">删除</button>
                <div class="modal fade" id="myModal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">确认操作</h4>
                      </div>
                      <div class="modal-body">
                          你确认要删除吗?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                        <button onclick="window.location.href='/basic/user/{{ i.id }}/del/'" type="button" class="btn btn-default">删除</button>
                      </div>
                    </div>
                  </div>
                 </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if page_1.has_other_pages %}   
    <div class="text-center">
        {% if page_1.has_previous  %}
        <a class="text-secondary" href="?page={{page_1.previous_page_number}}">上一页</a>
        {%endif%}
        <span class="mx-2">第&nbsp;{{page_1.number}}&nbsp;/&nbsp;{{ page_1.paginator.num_pages }}&nbsp;页</span>
        {%  if page_1.has_next %}
        <a class="text-success" href="?page={{page_1.next_page_number}}">下一页</a>
        {%  endif %}
    </div>
    {% endif %}
</div>
{% endblock %}